<meta charset="UTF-8">
<title>Enterprise Simulation</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- <style>
  body { padding-top:50px; }
</style> -->
<style>
    /* Modify the background color */
     
    .navbar-custom {
        background-color: rgb(23, 74, 103);
    }
    /* Modify brand and text color */
     
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: rgb(236, 236, 236);
    }
</style>

<nav class="navbar navbar-custom navbar-expand-lg">
    <a class="navbar-brand border border-dark" href="/">Enterprise Simulation</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-light" href="/unityServer">Unity Multiplayer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/simulationServer">Simulationsübersicht</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/erpSystem">ERP System</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/scmSystem">SCM System</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/crmSystem">CRM System</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/plmSystem">PLM System</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/mes">MES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/equipmentSystem">Equipment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/financesSystem">Finances</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/bpmn">BPMN Modeller</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/categories">Categories</a>
      </li>
    </ul>
  </nav>