
<div>
    Übersicht über alle aktiven Clients: 
    <% clients.forEach(client => { %>
        <%= client.name %> 
        <form action="/SendUDPMessage" method="POST">
            <button type="submit">Send UDP Message</button>
          </form>          
    <% }) %>
    <% items.forEach(item => { %>
        <%= item.name %> 
    <% }) %>
</div>
